@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
:root{
  --linear1:#0b004e;
  --linear2:#1d152f;
  --linear3:#002834;
  --nav-col:#ddd;
  --bottom-border:#3c3c3c;
  --white:#fff;
  --op-color:#09005c;
  --btn-col:#393939;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif; 
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  min-height: 100vh;
  color: white;
  background: linear-gradient(var(--linear1),var(--linear2),var(--linear3));
}