@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --linear1: #413877;
  --linear2: #806ab1;
  --linear3: #084051;
  --black: #000;
  --white: #fff;
  --fontSize: 20px;
  --bottom-border: #3c3c3c;
  --bg-col: #09005c;
  --btn-color: #393939;
  --p-col: #e3e3e3;
  --btn-bg: #7927ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  min-height: 100vh;
  color: white;
  background: linear-gradient(var(--linear1), var(--linear2), var(--linear3));
}